main {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 50px;
    margin-top: 50px;
    height: calc(100vh - 6.5rem)
  }
  .student-info {
    padding: 10px;
    margin: 20px;
    margin-left: 50px;
    height: 60%;
    background-color: #292929;
  }

  .student-info p{
    padding: 10px;
    margin: 10px;
  }

  .dormitory-area {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    margin-right: 100px;
    height: 70%;
  }

  .dormitory-list {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65%;
  }

  .dormitory-line-group {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 1.6rem;
  }

  .dormitory-line-group:hover {
    cursor: pointer;
    background-color: #8974B4;
  }

  .selected {
    background-color: #8974B4;
  }

  .dormitory-element {
    padding: 0;
    margin: 0;
  }

  .submit-info {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 15%;
    padding: 10px;
    margin: 10px;
  }

  #submitButton {
    height: 80%;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 12rem;
    border: 0.4rem solid #ffffff;
    border-radius: 5px;
    background-color: #8974B4;
    font-size: 1em;
    color: #ffffff;
  }

  #submitButton:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  #timer{
    border: 0.4rem solid #ffffff;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    height: 80%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #timer p{
    margin : 0;
    padding: 0;
  }

  .scrollable-area {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    padding-left: 10px;
    gap: 1rem;
    margin: 10px;
    width: 100%;
    border: 5px solid rgb(70, 69, 69);
    overflow: auto;
  }