<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/dormitory.css">
    <script defer src="/js/dormitory.js"></script>
    <script defer src="/js/timer.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dormitory</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-wrapper">
                <a href="/">Student Accommodation</a>
            </div>
            <div class="actions-wrapper">
                <a href="admin" th:if="${admin == 1}">Admin</a>
                <a href="logout">Logout</a>
            </div>
        </nav>
    </header>
    <main>
        <section class = "student-info">
            <p>Name: <span th:text = "${name}"></span></p>
            <p>Grade: <span th:text = "${grade}"></span></p>
            <p>Dormitory: <span th:text = "${dormitory}"></span></p>
            <p>Room: <span th:text = "${room}"></span></p>
        </section>
        <section class = "dormitory-area" id = "dormitoryArea">
            <h2> DORMITORIES</h2>

            <div class="dormitory-list">
                <ul class="scrollable-area" th:if="${!dormitoryList.isEmpty()}">
                    <div class="dormitory-line-group" th:each="dormitory : ${dormitoryList}">
                        <div class="dormitory-priority">0</div>
                        <li class="dormitory-element" th:text = "${dormitory.getName()}"></li>
                    </div>
                </ul>
                <p class="scrollable-area" th:if="${dormitoryList.isEmpty()}">There are no dormitories!</p>
            </div>

            <div class = "submit-info">
                <div id = "timer">
                    <p >Timer : <span th:text="${timer}" id = "timeLeft"></span></p>
                </div>
                <button value = "Submit" id = "submitButton" onclick="submit()">Submit</button>
            </div>
        </section>
    </main>
</body>
</html>