<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/students.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-wrapper">
                <a href="/">Student Accommodation</a>
            </div>
            <div class="actions-wrapper">
                <a href="register">Register</a>
                <a href="login">Login</a>
            </div>
        </nav>
    </header>
    <main>
        <section class = "student-info">
            <p>Name: <span th:text = "${name}"></span></p>
            <p>Grade: <span th:text = "${grade}"></span></p>
            <p>Dormitory: <span th:text = "${dormitory}"></span></p>
            <p>Room: <span th:text = "${room}"></span></p>
        </section>
        <section class = "student-area">
            <h2> STUDENT PREFERENCES</h2>
            <div class = "student-list">
                <ul class="scrollable-area" th:if="${studentList.size() > 1}">
                    <input type="text" placeholder="Search..." id = "search-bar">
                    <li th:each="student : ${studentList}" th:text = "${student.getName()}"></li>
                </ul>
                <p class="scrollable-area" th:if="${studentList.size() > 1}">There are no dormitories!</p>
                <div class="preference-list">
                    <th:block th:if = "${studentNumber > 0}" th:with="yourNumber=${studentNumber - 1}">
                        <th:block th:each="i : ${#numbers.sequence(1, yourNumber)}">
                            <p th:text="${i}"></p>
                        </th:block>
                    </th:block>
                    <p th:if = "${studentNumber <= 0}">Empty</p>
                </div>
            </div>
            <div class = "submit-info">
                <div id = "timer">
                    <p >Timer : <span> 00:00</span></p>
                </div>
                <button value = "Submit" id = "submitButton">Submit</button>
            </div>
        </section>
    </main>
    <script src = "/js/search.js"></script>
</body>

</html>