<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmoF</title>
</head>
<body>
<header>
    <nav>
        <div class="logo-wrapper">
            <a href="/">Student Accommodation</a>
        </div>
        <div class="actions-wrapper">
            <a href="register">Register</a>
            <a href="login">Login</a>
        </div>
    </nav>
</header>
<main>
    <section class="main-section">
        <h1 class="title">Student Accommodation</h1>
        <div class="description">
            Java project made by Apetrei Razvan-Emanuel and Nechifor Alexandru
        </div>
        <div class="buttons">
            <a class="start-now" href="register">Register</a>
            <a class="start-now" href="login">Login</a>
        </div>
    </section>
</main>
</body>
</html>